In [1]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [2]:
import pandas as pd

football = pd.read_csv('c:/Users/1cons/Python-projects/module_1/data_sf.csv')
display(football.head())

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [3]:
import pandas as pd

football = pd.read_csv('c:/Users/1cons/Python-projects/module_1/data_sf.csv')
display(football.tail(7))

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12890,13119,J. Young,18,Scotland,Swindon Town,450000,1000,ST,28,47,...,58,50,15,17,14,11,15,12,12,11
12891,13120,D. Walsh,18,Republic of Ireland,Waterford FC,60000,1000,RB,22,23,...,38,43,44,47,53,9,10,9,11,13
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [4]:
display(football.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [5]:
football.describe()

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [6]:
football.describe(include = ['Int64'])

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [7]:
football.Age.mean()

24.795378770256647

In [8]:
football.Composure.count()

12897

In [9]:
football.ShortPassing.std()

14.740435689517149

In [10]:
football.Wage.sum()

96954000

In [11]:
football.Value.min()

0

In [12]:
football[(football.Age > football.Age.mean())&
        (football.Club == 'Manchester United')]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
45,45,P. Pogba,25,France,Manchester United,64000000,210000,RDM,80,73,...,81,87,66,70,68,5,6,2,4,3
47,47,R. Lukaku,25,Belgium,Manchester United,62500000,230000,ST,78,87,...,78,83,30,30,30,8,15,14,7,10
93,93,A. Sánchez,29,Chile,Manchester United,37500000,215000,RW,77,80,...,77,84,38,44,35,10,10,15,12,13
127,127,N. Matić,29,Serbia,Manchester United,24000000,165000,CDM,71,64,...,64,84,83,84,75,7,15,12,14,9
263,263,C. Smalling,28,England,Manchester United,16000000,130000,RCB,52,54,...,52,67,81,82,80,10,15,16,15,15
276,276,A. Valencia,32,Ecuador,Manchester United,10000000,120000,RM,79,60,...,55,82,77,82,79,16,11,10,7,7
335,336,S. Romero,31,Argentina,Manchester United,9000000,91000,GK,11,14,...,16,62,14,11,15,78,76,81,77,82
394,397,M. Rojo,28,Argentina,Manchester United,10000000,115000,CB,74,50,...,64,73,76,81,79,7,8,12,15,10
408,411,P. Jones,26,England,Manchester United,12000000,110000,CB,60,44,...,55,68,76,81,82,10,8,6,16,11
442,446,A. Young,32,England,Manchester United,7000000,110000,LB,84,64,...,60,74,75,76,74,16,10,15,16,15
731,741,M. Darmian,28,Italy,Manchester United,6000000,88000,LB,69,55,...,45,76,77,79,78,6,7,7,12,7

Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых выше среднего?

In [13]:
football[(football.Wage > football.Wage.mean())].SprintSpeed.mean()

67.56638061585058

Какую позицию (Position) занимает футболист с самой высокой зарплатой (Wage)?

In [14]:
football[(football.Wage == football.Wage.max())].Position

0    RF
Name: Position, dtype: object

Сколько пенальти (Penalties) забили бразильские (Nationality, Brazil) футболисты за период, данные о котором представлены в датасете?

In [15]:
football[(football.Nationality == 'Brazil')].Penalties.sum()

22789

Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50

In [16]:
football[(football.HeadingAccuracy > 50)].Age.mean()

25.58771113179944

Укажите возраст (Age) самого молодого игрока, у которого хладнокровие (Composure) и реакция (Reactions) превышают 90% от максимального значения, представленного в датасете

In [17]:
football[(football.Composure > 0.9*football.Composure.max())& (football.Reactions > 0.9*football.Reactions.max())].Age.min()

24

Определите, насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) равен максимальному) больше средней реакции самых молодых игроков. Ответ округлите до сотых.

In [18]:
football[(football.Age == football.Age.max())].Reactions.mean()- football[(football.Age == football.Age.min())].Reactions.mean()

22.642857142857146

Из какой страны (Nationality) происходит больше всего игроков, чья стоимость (Value) превышает среднее значение?

In [19]:
football[(football.Value > football.Value.mean())].describe(include='object')

                Name Nationality               Club Position
count           1747        1747               1747     1747
unique          1558          98                447       27
top     J. Rodríguez       Spain  FC Bayern München       ST
freq               9         211                 17      214

In [14]:
football[football['Value'] > football['Value'].mean()].groupby(['Nationality'])['Nationality'].count().sort_values(ascending=False)

Nationality
Spain            211
Brazil           130
France           123
Argentina        122
England          113
                ...
Estonia            1
Honduras           1
Haiti              1
Guinea Bissau      1
Iraq               1
Name: Nationality, Length: 98, dtype: int64

Определите, во сколько раз средняя зарплата (Wage) голкипера (Position, GK) с максимальным значением показателя " Рефлексы" (GKReflexes) выше средней зарплаты голкипера с максимальным значением показателя "Владение мячом" (GKHandling)

In [21]:
football[(football.Position == 'GK')& (football.GKReflexes == football.GKReflexes.max())].Wage.mean()/football[(football.Position == 'GK')& (football.GKHandling == football.GKHandling.max())].Wage.mean()

2.765957446808511

Определите, во сколько раз средняя сила удара (ShotPower) самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (Aggression)) выше средней силы удара игроков с минимальной агрессией

In [22]:
football[(football.Aggression == football.Aggression.max())].ShotPower.mean()/football[(football.Aggression == football.Aggression.min())].ShotPower.mean()

2.076923076923077

In [23]:
football.sample(n=5, axis=0)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
10777,10996,F. Lauenborg,21,Denmark,Randers FC,190000,1000,CM,44,46,...,49,51,52,51,50,12,6,9,8,14
7132,7313,M. Fitzgerald,29,Japan,Kawasaki Frontale,290000,2000,CB,51,37,...,33,52,59,64,62,14,7,11,15,7
12046,12275,S. Heaney,22,Republic of Ireland,Bray Wanderers,80000,1000,LCB,45,23,...,40,43,51,55,52,12,13,9,8,9
9790,9994,N. Fröling,18,Sweden,Kalmar FF,375000,1000,LS,45,54,...,58,54,38,33,16,5,11,15,14,14
8723,8916,W. Bracamonte,20,Argentina,Unión de Santa Fe,450000,2000,LM,53,55,...,60,55,33,26,29,11,15,14,11,8

In [24]:
Анализ данных по количеству велосипедов на дорожках Монреаля в течении года

SyntaxError: invalid syntax (<ipython-input-24-72b08594f357>, line 1)

In [ ]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('ggplot')  # Красивые графики
plt.rcParams['figure.figsize'] = (15, 5)  # Размер картинок

bikes = pd.read_csv(r'c:\Users\1cons\Desktop\bikes.csv',  # Это то, куда вы скачали файл
                       sep=';', encoding='latin1',
                       parse_dates=['Date'], dayfirst=True,
                       index_col='Date')
bikes[:3]
bikes['Berri 1'].plot()
bikes.plot(figsize=(15, 10))

In [ ]:
создадим новый дф с данными только по дорожке Berri 1

In [ ]:
berri_bikes = bikes[['Berri 1']].copy()

In [ ]:
berri_bikes[:5]

In [ ]:
смотрим что представляют из себя индексы для данного дф и затем добавляем к нему столбец 'weekday' с данными 
по соотв.дате дню недели index.weekday

In [ ]:
berri_bikes.index

In [ ]:
berri_bikes['weekday'] = berri_bikes.index.weekday
berri_bikes[:5]

In [ ]:
сгруппируем по дням неделям количества велосипедов на дорожках

In [ ]:
weekday_counts = berri_bikes.groupby('weekday').aggregate(sum)

In [ ]:
weekday_counts

In [ ]:
резюмируем вышепроделланное в компактном коде
 - читаем файл, делим данные по sep, указываем кодировку, обрабатываем данные в столбце 'Date', указываем что первым
    дате будет день, и индексами будет данные их столбца 'Date'
 - создаем из полученного ДФ новый, с данными по конкретной дорожке, добавляем к каждой дате соттветсвующий ей день недели
 - группируем данные по суммарному количеству велосипедистов на дорожке по дням недели
 - даём цифровым значениям дней недели 0-6 естественные обозначения
 - выводим данные на график

In [ ]:
bikes = pd.read_csv(r'c:\Users\1cons\Desktop\bikes.csv', 
                    sep=';', encoding='latin1', 
                    parse_dates=['Date'], dayfirst=True, 
                    index_col='Date')
# Add the weekday column
berri_bikes = bikes[['Berri 1']].copy()
berri_bikes.loc[:,'weekday'] = berri_bikes.index.weekday

# Add up the number of cyclists by weekday, and plot!
weekday_counts = berri_bikes.groupby('weekday').aggregate(sum)
weekday_counts.index = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
weekday_counts.plot(kind='bar')

In [ ]:
'''Загружаем необходимые библиотеки, установливам макс.кол-во выводимых строк на экран, стиль, размер графиков, шрифт'''

%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

pd.options.display.max_rows = 10
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (15, 3)
plt.rcParams['font.family'] = 'sans-serif'

Шаблон для получения данных о погоде в Канаде, конкретно по ID в Монтреале. Берем за март 2012.

In [ ]:
url_template = "http://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=5415&Year={year}&Month={month}&timeframe=1&submit=Download+Data"
url = url_template.format(month=3, year=2012)
weather_mar2012 = pd.read_csv(url, index_col='Date/Time', parse_dates=True, encoding='latin1')

In [ ]:
weather_mar2012

Удаляем столбцы (axis=1), в которых отсутствуют данные (dropna) с хотя бы одним полем с NaN (how='any')

In [ ]:
weather_mar2012 = weather_mar2012.dropna(axis=1, how='any')
weather_mar2012[:5]

Удаляем (drop) столбцы с неинтересующими и несущественными данными

In [ ]:
weather_mar2012 = weather_mar2012.drop(['ï»¿"Longitude (x)"', 'Latitude (y)', 'Station Name', 'Climate ID', 'Year', 'Month', 'Day', 'Time'], axis=1)

Облагораживаем имена столбцов

In [ ]:
weather_mar2012.columns = [u'Temp (C)', 
    u'Dew Point Temp (C)', u'Rel Hum (%)', u'Wind Spd (km/h)', u'Visibility (km)', u'Stn Press (kPa)', u'Weather']

In [ ]:
weather_mar2012[:5]

Создаем копированием новый ДФ с данными по температуре
Добавляем столбец "Часы"
Группируем по часам данные по средней температуре и строи график

In [ ]:
temperatures = weather_mar2012[[u'Temp (C)']].copy()
temperatures.loc[:,'Hour'] = weather_mar2012.index.hour
temperatures.groupby('Hour').aggregate(np.median).plot()

Обобщая вышепроделанные операции, определяем функцию для считывания данных с аргументами (год, месяц)

In [ ]:
def download_weather_month(year, month):
    url_template = "http://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=5415&Year={year}&Month={month}&timeframe=1&submit=Download+Data"
    url = url_template.format(year=year, month=month)
    weather_data = pd.read_csv(url, index_col='Date/Time', parse_dates=True, encoding='latin1')
    weather_data = weather_data.dropna(axis=1)
    weather_data = weather_data.drop(['ï»¿"Longitude (x)"', 'Latitude (y)', 'Station Name', 'Climate ID', 'Year', 'Month', 'Day', 'Time'], axis=1)
    weather_data.columns = [u'Temp (C)', 
    u'Dew Point Temp (C)', u'Rel Hum (%)', u'Wind Spd (km/h)', u'Visibility (km)', u'Stn Press (kPa)', u'Weather']
    return weather_data

In [ ]:
download_weather_month(2012, 12)[:5]

Объединяем данные всех месяцев за год

In [ ]:
data_by_month = [download_weather_month(2012, i) for i in range(1, 13)]

Объединение данных в ДФ за год (pd.concat)

In [ ]:
weather_2012 = pd.concat(data_by_month)
weather_2012

сохраним результат в CSV файл

In [ ]:
weather_2012.to_csv(r'c:\Users\1cons\Desktop\weather_2012.csv')

Смотрим в столбце "погода" есть ли "снег"

In [ ]:
weather_description = weather_2012['Weather']
is_snowing = weather_description.str.contains('Snow')
is_snowing[:5]

построим график с значением "снег" за весь год

In [ ]:
plt.plot(is_snowing)

Находим медианную (.median()) температуру за каждый месяц (.resample('M')) и строим график

In [ ]:
weather_2012['Temp (C)'].resample('M').median().plot(kind='bar')

Данные по снегу вместо True и False можно предствить вектором с 0 и 1

In [ ]:
is_snowing.astype(int)[:10]

И найти среднее значение по месяцам

In [ ]:
is_snowing.astype(int).resample('M').mean()

график по этим значениям

In [ ]:
is_snowing.astype(int).resample('M').mean().plot(kind='bar')

In [ ]:
# Строим графики температур и снежности вместе
temperature = weather_2012['Temp (C)'].resample('M').median()
is_snowing = weather_2012['Weather'].str.contains('Snow')
snowiness = is_snowing.astype(int).resample('M').mean()

# Name the columns
temperature.name = "Temperature"
snowiness.name = "Snowiness"

In [ ]:
stats = pd.concat([temperature, snowiness], axis=1)
stats

Из-за разных масштабов данных нагляднее вывести данные на двух отдельных графиках

In [ ]:
stats.plot(kind='bar', subplots=True, figsize=(15, 10))