In [2]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [2]:
import pandas as pd

football = pd.read_csv('c:/Users/1cons/Python-projects/module_1/data_sf.csv')
display(football.head())

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [3]:
import pandas as pd

football = pd.read_csv('c:/Users/1cons/Python-projects/module_1/data_sf.csv')
display(football.tail(7))

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12890,13119,J. Young,18,Scotland,Swindon Town,450000,1000,ST,28,47,...,58,50,15,17,14,11,15,12,12,11
12891,13120,D. Walsh,18,Republic of Ireland,Waterford FC,60000,1000,RB,22,23,...,38,43,44,47,53,9,10,9,11,13
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [4]:
display(football.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [5]:
football.describe()

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [6]:
football.describe(include = ['Int64'])

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [7]:
football.Age.mean()

24.795378770256647

In [8]:
football.Composure.count()

12897

In [9]:
football.ShortPassing.std()

14.740435689517149

In [10]:
football.Wage.sum()

96954000

In [11]:
football.Value.min()

0

In [12]:
football[(football.Age > football.Age.mean())&
        (football.Club == 'Manchester United')]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
45,45,P. Pogba,25,France,Manchester United,64000000,210000,RDM,80,73,...,81,87,66,70,68,5,6,2,4,3
47,47,R. Lukaku,25,Belgium,Manchester United,62500000,230000,ST,78,87,...,78,83,30,30,30,8,15,14,7,10
93,93,A. Sánchez,29,Chile,Manchester United,37500000,215000,RW,77,80,...,77,84,38,44,35,10,10,15,12,13
127,127,N. Matić,29,Serbia,Manchester United,24000000,165000,CDM,71,64,...,64,84,83,84,75,7,15,12,14,9
263,263,C. Smalling,28,England,Manchester United,16000000,130000,RCB,52,54,...,52,67,81,82,80,10,15,16,15,15
276,276,A. Valencia,32,Ecuador,Manchester United,10000000,120000,RM,79,60,...,55,82,77,82,79,16,11,10,7,7
335,336,S. Romero,31,Argentina,Manchester United,9000000,91000,GK,11,14,...,16,62,14,11,15,78,76,81,77,82
394,397,M. Rojo,28,Argentina,Manchester United,10000000,115000,CB,74,50,...,64,73,76,81,79,7,8,12,15,10
408,411,P. Jones,26,England,Manchester United,12000000,110000,CB,60,44,...,55,68,76,81,82,10,8,6,16,11
442,446,A. Young,32,England,Manchester United,7000000,110000,LB,84,64,...,60,74,75,76,74,16,10,15,16,15
731,741,M. Darmian,28,Italy,Manchester United,6000000,88000,LB,69,55,...,45,76,77,79,78,6,7,7,12,7

Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых выше среднего?

In [13]:

football[(football.Wage > football.Wage.mean())].SprintSpeed.mean()

67.56638061585058

Какую позицию (Position) занимает футболист с самой высокой зарплатой (Wage)?

In [14]:
football[(football.Wage == football.Wage.max())].Position

0    RF
Name: Position, dtype: object

Сколько пенальти (Penalties) забили бразильские (Nationality, Brazil) футболисты за период, данные о котором представлены в датасете?

In [15]:
football[(football.Nationality == 'Brazil')].Penalties.sum()

22789

Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50

In [16]:
football[(football.HeadingAccuracy > 50)].Age.mean()

25.58771113179944

Укажите возраст (Age) самого молодого игрока, у которого хладнокровие (Composure) и реакция (Reactions) превышают 90% от максимального значения, представленного в датасете

In [17]:
football[(football.Composure > 0.9*football.Composure.max())& (football.Reactions > 0.9*football.Reactions.max())].Age.min()

24

Определите, насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) равен максимальному) больше средней реакции самых молодых игроков. Ответ округлите до сотых.

In [18]:
football[(football.Age == football.Age.max())].Reactions.mean()- football[(football.Age == football.Age.min())].Reactions.mean()

22.642857142857146

Из какой страны (Nationality) происходит больше всего игроков, чья стоимость (Value) превышает среднее значение?

In [19]:
football[(football.Value > football.Value.mean())].describe(include='object')

                Name Nationality       Club Position
count           1747        1747       1747     1747
unique          1558          98        447       27
top     J. Rodríguez       Spain  Liverpool       ST
freq               9         211         17      214

In [20]:
football[football['Value'] > football['Value'].mean()].groupby(['Nationality'])['Nationality'].count().sort_values(ascending=False)

Nationality
Spain            211
Brazil           130
France           123
Argentina        122
England          113
                ...
Estonia            1
Honduras           1
Haiti              1
Guinea Bissau      1
Iraq               1
Name: Nationality, Length: 98, dtype: int64

Определите, во сколько раз средняя зарплата (Wage) голкипера (Position, GK) с максимальным значением показателя " Рефлексы" (GKReflexes) выше средней зарплаты голкипера с максимальным значением показателя "Владение мячом" (GKHandling)

In [21]:
football[(football.Position == 'GK')& (football.GKReflexes == football.GKReflexes.max())].Wage.mean()/football[(football.Position == 'GK')& (football.GKHandling == football.GKHandling.max())].Wage.mean()

2.765957446808511

Определите, во сколько раз средняя сила удара (ShotPower) самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (Aggression)) выше средней силы удара игроков с минимальной агрессией

In [22]:
football[(football.Aggression == football.Aggression.max())].ShotPower.mean()/football[(football.Aggression == football.Aggression.min())].ShotPower.mean()

2.076923076923077

In [23]:
football.sample(n=5, axis=0)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
5430,5592,A. Sabbione,26,Italy,Carpi,625000,1000,RCM,41,33,...,40,58,63,64,63,9,14,14,12,12
11256,11478,Zhou Dadi,22,China PR,Changchun Yatai FC,160000,2000,LM,52,52,...,40,50,41,37,38,9,13,8,10,9
7120,7301,Jaime Gavilán,33,Spain,AD Alcorcón,220000,2000,CM,60,61,...,64,68,60,44,52,13,15,15,7,8
11855,12082,R. Piscitelli,24,Italy,Carpi,80000,1000,GK,11,6,...,18,30,13,13,15,51,52,49,61,57
10923,11143,D. Villa,20,Mexico,Club Atlas,190000,2000,LM,61,59,...,58,50,34,30,32,10,11,10,6,13

In [24]:
football['Club'].value_counts().tail()

Cruzeiro             8
Dinamo Zagreb        7
Vitória Guimarães    7
GD Chaves            7
Atlético Mineiro     6
Name: Club, dtype: int64

Данные об игроках каких позиций (Position) занимают более 10% датасета?

In [25]:
football['Position'].value_counts(normalize=True)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

In [26]:
small_df = football[football.columns[1:7]].head(25)
display(small_df)
s = small_df['Wage'].value_counts(bins=4)
display(s)

                 Name  Age Nationality                 Club      Value    Wage
0            L. Messi   31   Argentina         FC Barcelona  110500000  565000
1   Cristiano Ronaldo   33    Portugal             Juventus   77000000  405000
2           Neymar Jr   26      Brazil  Paris Saint-Germain  118500000  290000
3              De Gea   27       Spain    Manchester United   72000000  260000
4        K. De Bruyne   27     Belgium      Manchester City  102000000  355000
5           E. Hazard   27     Belgium              Chelsea   93000000  340000
6           L. Modrić   32     Croatia          Real Madrid   67000000  420000
7           L. Suárez   31     Uruguay         FC Barcelona   80000000  455000
8        Sergio Ramos   32       Spain          Real Madrid   51000000  380000
9            J. Oblak   25    Slovenia      Atlético Madrid   68000000   94000
10     R. Lewandowski   29      Poland    FC Bayern München   77000000  205000
11           T. Kroos   28     Germany          Real Madrid   76500000  355000
12           D. Godín   32     Uruguay      Atlético Madrid   44000000  125000
13        David Silva   32       Spain      Manchester City   60000000  285000
14           N. Kanté   27      France              Chelsea   63000000  225000
15          P. Dybala   24   Argentina             Juventus   89000000  205000
16            H. Kane   24     England    Tottenham Hotspur   83500000  205000
17       A. Griezmann   27      France      Atlético Madrid   78000000  145000
18      M. ter Stegen   26     Germany         FC Barcelona   58000000  240000
19        T. Courtois   26     Belgium          Real Madrid   53500000  240000
20    Sergio Busquets   29       Spain         FC Barcelona   51500000  315000
21          E. Cavani   31     Uruguay  Paris Saint-Germain   60000000  200000
22           M. Neuer   32     Germany    FC Bayern München   38000000  130000
23          S. Agüero   30   Argentina      Manchester City   64500000  300000
24       G. Chiellini   33       Italy             Juventus   27000000  215000

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [27]:
s.index

IntervalIndex([(211750.0, 329500.0], (93528.999, 211750.0], (329500.0, 447250.0], (447250.0, 565000.0]],
              closed='right',
              dtype='interval[float64]')

In [28]:
s.index[3]

Interval(447250.0, 565000.0, closed='right')

In [29]:
s.index[3].left

447250.0

In [30]:
s.index[3].right

565000.0

In [31]:
small_df['Wage'] > s.index[3].left

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: Wage, dtype: bool

В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?
Какие показатели точности ударов ногой демонстрирует большинство футболистов?

In [32]:
football['FKAccuracy'].value_counts(bins=5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

У какого процента испанских специалистов (Nationality = 'Spain') зарплата (Wage) находится в пределах 25% минимума от наблюдаемого уровня зарплат? Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

In [33]:
football[football['Nationality'] == 'Spain']['Wage'].value_counts(bins=4, normalize=True)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, выступающие за клуб (Club) "Manchester United".

In [34]:
len(football[football['Club'] == 'Manchester United']['Nationality'].value_counts())

13

С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) через запятую в алфавитном порядке.

In [35]:
football[(football['Club'] == 'Juventus') & (football['Nationality'] == 'Brazil')]['Name'].unique()

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет.

In [36]:
football[football['Age'] > 35]['Club'].value_counts()

Club Atlético Huracán             4
Hokkaido Consadole Sapporo        4
Morecambe                         3
Nagoya Grampus                    3
Club Atlético Tigre               3
                                 ..
Celtic                            1
San Martin de Tucumán             1
Guangzhou Evergrande Taobao FC    1
Bury                              1
Newport County                    1
Name: Club, Length: 212, dtype: int64

С помощью функции value_counts с параметром bins разбейте всех футболистов сборной (Nationality) Аргентины ('Argentina') на 4 равные группы. Укажите, сколько футболистов в возрасте от 34.75 до 41 года в сборной Аргентины.

In [37]:
football[football['Nationality'] == 'Argentina']['Age'].value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35)

In [38]:
football[football['Nationality'] == 'Spain']['Age'].value_counts(normalize=True)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

Отметьте позиции (Position), по которым общая сумма зарплат (Wage) игроков превышает 5 млн евро в год.

In [39]:
football.groupby(['Position'])['Wage'].sum().sort_values(ascending=False)

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
RCB     4711000
LCB     3989000
RW      3276000
RCM     3241000
LCM     3145000
LW      2945000
LS      1866000
RDM     1557000
RS      1537000
LDM     1516000
RF       714000
LF       601000
RWB      420000
LAM      366000
LWB      347000
CF       248000
RAM       59000
Name: Wage, dtype: int64

Посчитайте среднюю зарплату (Wage) и цену (Value) игроков разных позиций (Position). Представители какой позиции имеют самую высокую среднюю цену?
Какова средняя зарплата футболистов на данной позиции?

In [40]:
football.groupby(['Position'])[['Wage', 'Value']].mean().sort_values(['Value'], ascending=False)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). В скольких клубах средняя и медианная зарплаты совпадают?

Подсказка: чтобы в процессе группировки применить к данным одновременно две агрегирующие функции, необходимо указать их как аргументы метода agg:

df.groupby(столбец_для_группировки)[столбцы_для_отображения].agg(['функция_1', 'функция_2'])

In [41]:
wage_data = football.groupby(['Club'])['Wage'].agg(['mean', 'median'])
fin_res = (wage_data[wage_data['mean'] == wage_data['median']])
print(fin_res.count())

mean      52
median    52
dtype: int64

Продолжаем работать с клубами, в которых средняя зарплата совпадает с медианной. Каков максимальный размер средней зарплаты в этой группе клубов?

In [42]:
fin_res.sort_values(['mean'], ascending=False)

                           mean  median
Club
Cruzeiro                13000.0   13000
Göztepe SK               7000.0    7000
Brøndby IF               6000.0    6000
Sunderland               4000.0    4000
CD Feirense              4000.0    4000
1. FC Magdeburg          4000.0    4000
Northampton Town         2500.0    2500
Stade Brestois 29        2000.0    2000
Jeonnam Dragons          2000.0    2000
Pohang Steelers          2000.0    2000
AJ Auxerre               2000.0    2000
Grimsby Town             2000.0    2000
Heracles Almelo          2000.0    2000
Philadelphia Union       2000.0    2000
Kashiwa Reysol           2000.0    2000
CD Tondela               2000.0    2000
Benevento                2000.0    2000
FC Metz                  1500.0    1500
PAOK                     1000.0    1000
Orlando Pirates          1000.0    1000
Panathinaikos FC         1000.0    1000
Patriotas Boyacá FC      1000.0    1000
PFC CSKA Moscow          1000.0    1000
Shakhtar Donetsk         1000.0    1000
SK Slavia Praha          1000.0    1000
Shamrock Rovers          1000.0    1000
Sligo Rovers             1000.0    1000
Sparta Praha             1000.0    1000
Spartak Moscow           1000.0    1000
St. Patrick's Athletic   1000.0    1000
Trelleborgs FF           1000.0    1000
Olympiacos CFP           1000.0    1000
Jaguares de Córdoba      1000.0    1000
Lokomotiv Moscow         1000.0    1000
Dynamo Kyiv              1000.0    1000
Bohemian FC              1000.0    1000
Boyacá Chicó FC          1000.0    1000
Bray Wanderers           1000.0    1000
Cork City                1000.0    1000
Deportivo Pasto          1000.0    1000
Dinamo Zagreb            1000.0    1000
Dundalk                  1000.0    1000
Envigado FC              1000.0    1000
Limerick FC              1000.0    1000
FC Energie Cottbus       1000.0    1000
HJK Helsinki             1000.0    1000
IF Brommapojkarna        1000.0    1000
IK Sirius                1000.0    1000
Itagüí Leones FC         1000.0    1000
AEK Athens               1000.0    1000
Kaizer Chiefs            1000.0    1000
Viktoria Plzeň           1000.0    1000

С помощью функции groupby посчитайте сумму зарплат (Wage) футболистов клуба (Club) "Chelsea"

In [43]:
football[football['Club'] == 'Chelsea']['Wage'].sum()

2035000

Определите максимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 20 лет.

In [44]:
football[(football['Nationality'] == 'Argentina') & (football['Age'] == 20)]['Wage'].max()

54000

Определите максимальную силу (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona" из Аргентины ("Argentina"). Ответ введите через точку с запятой без пробела.

In [45]:
football[(football['Club'] == 'FC Barcelona') & (football['Nationality'] == 'Argentina')][['Strength', 'Balance']].max()

Strength    59
Balance     95
dtype: int64

Создайте сводную таблицу, содержащую сведения о количестве игроков, занимающих разные позиции в каждом клубе. Отсутствующие значения замените нулями.

Каково среднее количество вратарей (GK) в клубе? Ответ округлите до трёх цифр после запятой.

In [53]:
positions = football.pivot_table(values=['Name'],
index=['Club'],
columns=['Position'],
aggfunc='count',
fill_value=0)
display(positions)

                      Name                                 ...                 \
Position               CAM CB CDM CF CM GK LAM LB LCB LCM  ... RB RCB RCM RDM
Club                                                       ...
 SSV Jahn Regensburg     0  5   1  0  2  3   0  2   0   0  ...  2   1   0   1
1. FC Heidenheim 1846    1  3   0  0  1  2   0  2   1   0  ...  2   1   0   0
1. FC Kaiserslautern     0  3   3  0  0  3   0  2   1   0  ...  2   0   0   1
1. FC Köln               0  1   1  0  2  3   0  0   0   0  ...  1   0   0   0
1. FC Magdeburg          0  4   0  1  0  3   0  1   1   1  ...  0   1   1   0
...                    ... ..  .. .. .. ..  .. ..  ..  ..  ... ..  ..  ..  ..
Zagłębie Sosnowiec       3  2   2  0  0  3   0  3   1   0  ...  1   1   0   1
Çaykur Rizespor          1  2   5  0  0  3   0  2   1   0  ...  3   0   0   1
Örebro SK                0  4   0  0  1  3   0  0   1   1  ...  0   1   1   0
Östersunds FK            1  1   0  1  3  3   0  2   1   1  ...  1   1   0   0
Śląsk Wrocław            0  1   3  0  1  3   0  2   1   0  ...  2   1   0   1


Position              RF RM RS RW RWB ST
Club
 SSV Jahn Regensburg   0  0  0  0   0  3
1. FC Heidenheim 1846  0  3  0  0   0  2
1. FC Kaiserslautern   0  2  1  0   0  1
1. FC Köln             0  1  0  0   0  0
1. FC Magdeburg        0  3  1  2   0  1
...                   .. .. .. ..  .. ..
Zagłębie Sosnowiec     0  2  0  0   0  1
Çaykur Rizespor        0  1  0  0   0  1
Örebro SK              0  0  0  2   2  5
Östersunds FK          0  1  0  1   0  1
Śląsk Wrocław          0  2  1  0   0  2

[650 rows x 27 columns]

код ниже почему то уменьшает общее количество записей на 5 и соответсвенно дальнейшие расчеты идут неверными. следующий код дает верный результат (((

In [54]:
pivot = football[football['Position'] == 'GK'].pivot_table(values=['Name'],
index=['Club'],
columns=['Position'],
aggfunc='count',
fill_value=0)
display(pivot)

                      Name
Position                GK
Club
 SSV Jahn Regensburg     3
1. FC Heidenheim 1846    2
1. FC Kaiserslautern     3
1. FC Köln               3
1. FC Magdeburg          3
...                    ...
Zagłębie Sosnowiec       3
Çaykur Rizespor          3
Örebro SK                3
Östersunds FK            3
Śląsk Wrocław            3

[645 rows x 1 columns]

In [55]:
positions['Name']['GK'].describe()

count    650.000000
mean       2.524615
std        0.893485
min        0.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        6.000000
Name: GK, dtype: float64

Используя таблицу, созданную на предыдущем шаге, определите, сколько клубов не содержат данных о центральных полузащитниках. (CM)

Подсказка: для выполнения этого задания желательно сохранить сводную таблицу в виде отдельного датафрейма и сгруппировать часть данных этого датафрейма с помощью value_counts().

In [67]:
positions['Name']['CM'].value_counts()

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64

С помощью сводной таблицы и функции loc посчитайте, сколько получают ("Wage") русские футболисты ("Russia"), играющие за ФК "AS Monaco"

In [84]:
pivot_ru = football.loc[football['Club'] == 'AS Monaco'].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Name'],
aggfunc='sum',
fill_value=0)
display(pivot_ru)

                  Wage                                                      \
Name        A. Golovin A. Raggi B. Badiashile D. Sidibé D. Subašić  Falcao
Nationality
Belgium              0        0             0         0          0       0
Brazil               0        0             0         0          0       0
Colombia             0        0             0         0          0  115000
Croatia              0        0             0         0      70000       0
France               0        0          4000     61000          0       0
Italy                0    48000             0         0          0       0
Montenegro           0        0             0         0          0       0
Morocco              0        0             0         0          0       0
Poland               0        0             0         0          0       0
Portugal             0        0             0         0          0       0
Russia           61000        0             0         0          0       0
Senegal              0        0             0         0          0       0

                                                                             \
Name        H. Massengo J. Gaspar J. Serrano Jemerson K. Glik L. Badiashile
Nationality
Belgium               0         0          0        0       0             0
Brazil                0         0          0    55000       0             0
Colombia              0         0          0        0       0             0
Croatia               0         0          0        0       0             0
France             2000      7000       8000        0       0          8000
Italy                 0         0          0        0       0             0
Montenegro            0         0          0        0       0             0
Morocco               0         0          0        0       0             0
Poland                0         0          0        0   86000             0
Portugal              0         0          0        0       0             0
Russia                0         0          0        0       0             0
Senegal               0         0          0        0       0             0

                                                                       \
Name        Rony Lopes S. Jovetić  S. Sy W. Geubbels Y. Aït Bennasser
Nationality
Belgium              0          0      0           0                0
Brazil               0          0      0           0                0
Colombia             0          0      0           0                0
Croatia              0          0      0           0                0
France               0          0      0        5000                0
Italy                0          0      0           0                0
Montenegro           0      79000      0           0                0
Morocco              0          0      0           0            39000
Poland               0          0      0           0                0
Portugal         65000          0      0           0                0
Russia               0          0      0           0                0
Senegal              0          0  10000           0                0


Name        Y. Tielemans
Nationality
Belgium            47000
Brazil                 0
Colombia               0
Croatia                0
France                 0
Italy                  0
Montenegro             0
Morocco                0
Poland                 0
Portugal               0
Russia                 0
Senegal                0

In [86]:
pivot_ru.loc['Russia']['Wage']

Name
A. Golovin          61000
A. Raggi                0
B. Badiashile           0
D. Sidibé               0
D. Subašić              0
Falcao                  0
H. Massengo             0
J. Gaspar               0
J. Serrano              0
Jemerson                0
K. Glik                 0
L. Badiashile           0
Rony Lopes              0
S. Jovetić              0
S. Sy                   0
W. Geubbels             0
Y. Aït Bennasser        0
Y. Tielemans            0
Name: Russia, dtype: int64

Создайте сводную таблицу, содержащую сведения о средней скорости футболистов, занимающих разные позиции (Position) в разных футбольных клубах (Club).

Основываясь на данных таблицы, отметьте три позиции, представители которых в среднем обладают самой высокой скоростью

In [87]:
positions = football.pivot_table(values=['SprintSpeed'],
index=['Club'],
columns=['Position'],
aggfunc='mean',
fill_value=0)
display(positions)

                      SprintSpeed                                         \
Position                      CAM         CB        CDM    CF         CM
Club
 SSV Jahn Regensburg          0.0  46.600000  82.000000   0.0  61.000000
1. FC Heidenheim 1846        68.0  61.333333   0.000000   0.0  68.000000
1. FC Kaiserslautern          0.0  59.000000  65.666667   0.0   0.000000
1. FC Köln                    0.0  60.000000  32.000000   0.0  68.500000
1. FC Magdeburg               0.0  60.000000   0.000000  64.0   0.000000
...                           ...        ...        ...   ...        ...
Zagłębie Sosnowiec           73.0  46.500000  66.000000   0.0   0.000000
Çaykur Rizespor              74.0  58.000000  62.800000   0.0   0.000000
Örebro SK                     0.0  60.750000   0.000000   0.0  63.000000
Östersunds FK                67.0  76.000000   0.000000  77.0  56.333333
Śląsk Wrocław                 0.0  62.000000  66.666667   0.0  72.000000

                                                             ...             \
Position                      GK LAM         LB   LCB   LCM  ...         RB
Club                                                         ...
 SSV Jahn Regensburg   33.000000   0  76.000000   0.0   0.0  ...  68.500000
1. FC Heidenheim 1846  41.000000   0  60.000000  55.0   0.0  ...  80.500000
1. FC Kaiserslautern   42.666667   0  68.000000  45.0   0.0  ...  71.500000
1. FC Köln             33.000000   0   0.000000   0.0   0.0  ...  70.000000
1. FC Magdeburg        39.333333   0  69.000000  60.0  66.0  ...   0.000000
...                          ...  ..        ...   ...   ...  ...        ...
Zagłębie Sosnowiec     39.000000   0  60.333333  61.0   0.0  ...  68.000000
Çaykur Rizespor        47.000000   0  75.500000  63.0   0.0  ...  68.666667
Örebro SK              33.666667   0   0.000000  58.0  44.0  ...   0.000000
Östersunds FK          32.666667   0  74.500000  53.0  62.0  ...  54.000000
Śląsk Wrocław          30.666667   0  78.500000  59.0   0.0  ...  50.500000


Position                RCB RCM   RDM RF         RM  RS    RW   RWB         ST
Club
 SSV Jahn Regensburg   57.0   0  65.0  0   0.000000   0   0.0   0.0  61.666667
1. FC Heidenheim 1846  59.0   0   0.0  0  78.333333   0   0.0   0.0  69.000000
1. FC Kaiserslautern    0.0   0  55.0  0  82.500000  69   0.0   0.0  79.000000
1. FC Köln              0.0   0   0.0  0  77.000000   0   0.0   0.0   0.000000
1. FC Magdeburg        68.0  71   0.0  0  76.000000  53  80.5   0.0  44.000000
...                     ...  ..   ... ..        ...  ..   ...   ...        ...
Zagłębie Sosnowiec     58.0   0  62.0  0  71.000000   0   0.0   0.0  75.000000
Çaykur Rizespor         0.0   0  32.0  0  85.000000   0   0.0   0.0  48.000000
Örebro SK              62.0  66   0.0  0   0.000000   0  77.5  72.0  72.200000
Östersunds FK          73.0   0   0.0  0  85.000000   0  67.0   0.0  52.000000
Śląsk Wrocław          58.0   0  69.0  0  68.000000  81   0.0   0.0  54.000000

[650 rows x 27 columns]

In [100]:
positions.max().sort_values(ascending=False)

             Position
SprintSpeed  RS          94.0
             RM          94.0
             LM          94.0
             LS          93.0
             RB          93.0
             LB          93.0
             CF          91.0
             LW          91.0
             ST          91.0
             RDM         91.0
             RW          91.0
             RCM         90.0
             CAM         89.0
             LF          88.0
             RCB         88.0
             LCB         88.0
             RWB         86.0
             RF          86.0
             CM          86.0
             LWB         86.0
             LAM         85.0
             LCM         84.0
             CDM         83.0
             LDM         79.0
             RAM         78.0
             CB          78.0
             GK          62.0
dtype: float64

Используя таблицу, созданную на предыдущем шаге, отметьте названия трёх клубов, в которых центральные форварды (ST) обладают наибольшей средней скоростью

In [107]:
positions['SprintSpeed']['ST'].sort_values(ascending=False)

Club
Vitória                  91.000000
Sydney FC                88.000000
CD Lugo                  87.000000
Brøndby IF               84.666667
Leicester City           84.500000
                           ...
Málaga CF                 0.000000
PFC CSKA Moscow           0.000000
Stade Rennais FC          0.000000
Standard de Liège         0.000000
Sporting de Charleroi     0.000000
Name: ST, Length: 650, dtype: float64

Анализ данных по количеству велосипедов на дорожках Монреаля в течении года

In [ ]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('ggplot')  # Красивые графики
plt.rcParams['figure.figsize'] = (15, 5)  # Размер картинок

bikes = pd.read_csv(r'c:\Users\1cons\Desktop\bikes.csv',  # Это то, куда вы скачали файл
                       sep=';', encoding='latin1',
                       parse_dates=['Date'], dayfirst=True,
                       index_col='Date')
bikes[:3]
bikes['Berri 1'].plot()
bikes.plot(figsize=(15, 10))

In [ ]:
создадим новый дф с данными только по дорожке Berri 1

In [ ]:
berri_bikes = bikes[['Berri 1']].copy()

In [ ]:
berri_bikes[:5]

In [ ]:
смотрим что представляют из себя индексы для данного дф и затем добавляем к нему столбец 'weekday' с данными 
по соотв.дате дню недели index.weekday

In [ ]:
berri_bikes.index

In [ ]:
berri_bikes['weekday'] = berri_bikes.index.weekday
berri_bikes[:5]

In [ ]:
сгруппируем по дням неделям количества велосипедов на дорожках

In [ ]:
weekday_counts = berri_bikes.groupby('weekday').aggregate(sum)

In [ ]:
weekday_counts

In [ ]:
резюмируем вышепроделланное в компактном коде
 - читаем файл, делим данные по sep, указываем кодировку, обрабатываем данные в столбце 'Date', указываем что первым
    дате будет день, и индексами будет данные их столбца 'Date'
 - создаем из полученного ДФ новый, с данными по конкретной дорожке, добавляем к каждой дате соттветсвующий ей день недели
 - группируем данные по суммарному количеству велосипедистов на дорожке по дням недели
 - даём цифровым значениям дней недели 0-6 естественные обозначения
 - выводим данные на график

In [ ]:
bikes = pd.read_csv(r'c:\Users\1cons\Desktop\bikes.csv', 
                    sep=';', encoding='latin1', 
                    parse_dates=['Date'], dayfirst=True, 
                    index_col='Date')
# Add the weekday column
berri_bikes = bikes[['Berri 1']].copy()
berri_bikes.loc[:,'weekday'] = berri_bikes.index.weekday

# Add up the number of cyclists by weekday, and plot!
weekday_counts = berri_bikes.groupby('weekday').aggregate(sum)
weekday_counts.index = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
weekday_counts.plot(kind='bar')

In [ ]:
'''Загружаем необходимые библиотеки, установливам макс.кол-во выводимых строк на экран, стиль, размер графиков, шрифт'''

%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

pd.options.display.max_rows = 10
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (15, 3)
plt.rcParams['font.family'] = 'sans-serif'

Шаблон для получения данных о погоде в Канаде, конкретно по ID в Монтреале. Берем за март 2012.

In [ ]:
url_template = "http://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=5415&Year={year}&Month={month}&timeframe=1&submit=Download+Data"
url = url_template.format(month=3, year=2012)
weather_mar2012 = pd.read_csv(url, index_col='Date/Time', parse_dates=True, encoding='latin1')

In [ ]:
weather_mar2012

Удаляем столбцы (axis=1), в которых отсутствуют данные (dropna) с хотя бы одним полем с NaN (how='any')

In [ ]:
weather_mar2012 = weather_mar2012.dropna(axis=1, how='any')
weather_mar2012[:5]

Удаляем (drop) столбцы с неинтересующими и несущественными данными

In [ ]:
weather_mar2012 = weather_mar2012.drop(['ï»¿"Longitude (x)"', 'Latitude (y)', 'Station Name', 'Climate ID', 'Year', 'Month', 'Day', 'Time'], axis=1)

Облагораживаем имена столбцов

In [ ]:
weather_mar2012.columns = [u'Temp (C)', 
    u'Dew Point Temp (C)', u'Rel Hum (%)', u'Wind Spd (km/h)', u'Visibility (km)', u'Stn Press (kPa)', u'Weather']

In [ ]:
weather_mar2012[:5]

Создаем копированием новый ДФ с данными по температуре
Добавляем столбец "Часы"
Группируем по часам данные по средней температуре и строи график

In [ ]:
temperatures = weather_mar2012[[u'Temp (C)']].copy()
temperatures.loc[:,'Hour'] = weather_mar2012.index.hour
temperatures.groupby('Hour').aggregate(np.median).plot()

Обобщая вышепроделанные операции, определяем функцию для считывания данных с аргументами (год, месяц)

In [ ]:
def download_weather_month(year, month):
    url_template = "http://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=5415&Year={year}&Month={month}&timeframe=1&submit=Download+Data"
    url = url_template.format(year=year, month=month)
    weather_data = pd.read_csv(url, index_col='Date/Time', parse_dates=True, encoding='latin1')
    weather_data = weather_data.dropna(axis=1)
    weather_data = weather_data.drop(['ï»¿"Longitude (x)"', 'Latitude (y)', 'Station Name', 'Climate ID', 'Year', 'Month', 'Day', 'Time'], axis=1)
    weather_data.columns = [u'Temp (C)', 
    u'Dew Point Temp (C)', u'Rel Hum (%)', u'Wind Spd (km/h)', u'Visibility (km)', u'Stn Press (kPa)', u'Weather']
    return weather_data

In [ ]:
download_weather_month(2012, 12)[:5]

Объединяем данные всех месяцев за год

In [ ]:
data_by_month = [download_weather_month(2012, i) for i in range(1, 13)]

Объединение данных в ДФ за год (pd.concat)

In [ ]:
weather_2012 = pd.concat(data_by_month)
weather_2012

сохраним результат в CSV файл

In [ ]:
weather_2012.to_csv(r'c:\Users\1cons\Desktop\weather_2012.csv')

Смотрим в столбце "погода" есть ли "снег"

In [ ]:
weather_description = weather_2012['Weather']
is_snowing = weather_description.str.contains('Snow')
is_snowing[:5]

построим график с значением "снег" за весь год

In [ ]:
plt.plot(is_snowing)

Находим медианную (.median()) температуру за каждый месяц (.resample('M')) и строим график

In [ ]:
weather_2012['Temp (C)'].resample('M').median().plot(kind='bar')

Данные по снегу вместо True и False можно предствить вектором с 0 и 1

In [ ]:
is_snowing.astype(int)[:10]

И найти среднее значение по месяцам

In [ ]:
is_snowing.astype(int).resample('M').mean()

график по этим значениям

In [ ]:
is_snowing.astype(int).resample('M').mean().plot(kind='bar')

In [ ]:
# Строим графики температур и снежности вместе
temperature = weather_2012['Temp (C)'].resample('M').median()
is_snowing = weather_2012['Weather'].str.contains('Snow')
snowiness = is_snowing.astype(int).resample('M').mean()

# Name the columns
temperature.name = "Temperature"
snowiness.name = "Snowiness"

In [ ]:
stats = pd.concat([temperature, snowiness], axis=1)
stats

Из-за разных масштабов данных нагляднее вывести данные на двух отдельных графиках

In [ ]:
stats.plot(kind='bar', subplots=True, figsize=(15, 10))